{% extends 'default.html' %}

{%  block content %}

	{% if form.errors %}
	        <div class="alert alert-error"><p><strong>Lo sentimos el usuario o contraseña son incorrectos</strong></p></div>
	{% endif %}
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2>Iniciar sesion</h2>
		</div>

	    {% if user.is_authenticated %}
	        <div class="alert alert-info">
	            <p><strong> Lo Sentimos =( </strong> Estas viendo este mensaje debido a que  no se te han
	            asignado los permisos para realizar la acción que deseas favor de comunicarte con el
	            administrador del sistema o el encargado de tu departamento de computo.</p>
	        </div>

	    {% else %}
	        <form action="." method="POST"> {% csrf_token %}
		        <div class="form">
		            <label for="username">Usuario:</label>
		            <input type="text" name="username" value="" id="username" />
		            <label for="password">Contraseña</label>
		            <input type="password" name="password" value="" id="password" />
                </div>
                <div class="buttons">
		            <input type="submit" class="button" value="Entrar" />
		            <input type="hidden" name="next" value="{{ next|escape }}"/>
		        </div>
	        </form>
	   {% endif %}
	</div>
{% endblock %}
