{% extends 'default.html' %}

{%  block content%}
<h3>Agregar reservacion</h3>

    <form action="." class="well" method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Guardar" />
    </form>
{% endblock content %}
