{% extends 'default.html' %}

{%  block content%}
<h3>Editar reservación</h3>
	
	<form action="{% url apps.ventas.views.edit_reservaciones reservacion.id %}" class="well" method="POST"> {% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-success" value="Guardar" />
	</form>
{% endblock content %}
