{% extends 'default.html' %}

{% block content %}

    {% if perms.ventas.add_ventas %}
        <span><a class="btn btn-primary" href="{% url apps.ventas.views.add_ventas %}"><i class="icon-plus icon-white"></i> Agregar</a></span>
    {% endif %}
    <div class="box">
        <div>
            <h2>Venta: {{ venta.num_contrato }}</h2>
        </div>
        <table class="table">
            <tr>
                <td>Cliente</td>
                <td>{{ venta.cliente.nombre }} {{ venta.cliente.apellidos }}</td>
            </tr>
            <tr>
                <td>Auto</td>
                <td>{{ venta.auto.codigo }} {{ venta.auto.modelo }} {{ venta.auto.placas }}</td>
            </tr>
            <tr>
                <td>Serie</td>
                <td>{{ venta.serie }}</td>
            </tr>
            <tr>
                <td>Fecha Salida</td>
                <td>{{ venta.fecha_salida }}</td>
            </tr>
            <tr>
                <td>Fecha Entrada</td>
                <td>{{ venta.fecha_entrada }}</td>
            </tr>
            <tr>
                <td>Precio por Dia</td>
                <td>{{ venta.preciodia }}</td>
            </tr>
            <tr>
                <td>Dias</td>
                <td>{{ venta.dias }}</td>
            </tr>
            <tr>
                <td>Horas Extra</td>
                <td>{{ venta.hora_extra }}</td>
            </tr>
            <tr>
                <td>Adelanto</td>
                <td>{{ venta.adelanto }}</td>
            </tr>
            <tr>
                <td>Deposito Garantia</td>
                <td>{{ venta.deposito }}</td>
            </tr>
            <tr>
                <td>Octavos Gas Salida</td>
                <td>{{ venta.gas_octavos_salida }}</td>
            </tr>
            <tr>
                <td>Octavos Gas Entrada</td>
                <td>{{ venta.gas_octavos_entrada }}</td>
            </tr>
            <tr>
                <td>Seguro de Accidentes</td>
                <td>
                {% if venta.seguro_accidentes %}
                        Contratado
                {% else %}
                        No Contratado
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Seguro de Colision</td>
                <td>
                    {% if venta.seguro_colision %}
                        Contratado
                    {% else %}
                        No Contratado
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Total Renta Auto</td>
                <td>${{ venta.total_dias}}</td>
            </tr>
            <tr>
                <td>Cobro de gasolina</td>
                <td>{{ venta.total_gas }}</td>
            </tr>
            <tr>
                <td>Total Horas Extra</td>
                <td>{{ venta.total_horaextra }}</td>
            </tr>
            <tr>
                <td>Pago Seguros</td>
                <td>{{ venta.total_seguros }}</td>
            </tr>
            <tr>
                <td>Conductor Extra</td>
                <td>{{ venta.total_conductor }}</td>
            </tr>
            <tr>
                <td>IVA</td>
                <td>{{ venta.total_iva }}</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td><h3>{{ venta.total }}</h3></td>
            </tr>
            <tr>
                <td>Tipo de pago</td>
                <td>{{ venta.tipo_pago }}</td>
            </tr>
            <tr>
                <td>Km Recorridos</td>
                <td>{{ venta.km_recorridos }}</td>
            </tr>
            <tr>
                <td>Comentarios</td>
                <td>{{ venta.comentarios }}</td>
            </tr>
        </table>
           
        </div>
        {% if perms.ventas.change_ventas %}
            <a class="btn btn-info btn-mini" href="{% url apps.ventas.views.edit_ventas venta.id %}"><i class="icon-pencil icon-white"></i> Editar</a>
        {% endif %}
    </div>
{% endblock %}
