{% extends 'default.html' %}

{%  block content%}
<h3>Entregar Auto</h3>
	
	<form action="{% url apps.ventas.views.entregar venta.id %}" class="well" method="POST"> {% csrf_token %}
		{{ form.non_field_errors|safe }}
         <div class="">
            {{ form.hora_extra.errors|safe }}
            <label for="id_hora_extra">Horas Extra:</label>
            {{ form.hora_extra }}
        </div>
        <div class="">
            {{ form.fecha_entrada.errors|safe }}
            <label for="id_fecha_entrada">Fecha Entrega:</label>
            {{ form.fecha_entrada }}
        </div>
        <div class="">
            {{ form.tipo_pago.errors|safe }}
            <label for="id_tipo_pago">Tipo de pago:</label>
            {{ form.tipo_pago }}
        </div>
		<div class="gas">
            {{ form.gas_octavos_entrada.errors|safe }}
            <label for="id_gas_octavos_entrada_0">Gasolina:</label>
            <ul>
                <li ><label for="id_gas_octavos_entrada_0"><input type="radio" id="id_gas_octavos_entrada_0" value="1" name="gas_octavos_entrada"> 1/8</label></li>
                <li><label for="id_gas_octavos_entrada_1"><input type="radio" id="id_gas_octavos_entrada_1" value="2" name="gas_octavos_entrada"> 2/8</label></li>
                <li><label for="id_gas_octavos_entrada_2"><input type="radio" id="id_gas_octavos_entrada_2" value="3" name="gas_octavos_entrada"> 3/8</label></li>
                <li><label for="id_gas_octavos_entrada_3"><input type="radio" id="id_gas_octavos_entrada_3" value="4" name="gas_octavos_entrada"> 4/8</label></li>
                <li><label for="id_gas_octavos_entrada_4"><input type="radio" id="id_gas_octavos_entrada_4" value="5" name="gas_octavos_entrada"> 5/8</label></li>
                <li><label for="id_gas_octavos_entrada_5"><input type="radio" id="id_gas_octavos_entrada_5" value="6" name="gas_octavos_entrada"> 6/8</label></li>
                <li><label for="id_gas_octavos_entrada_6"><input type="radio" id="id_gas_octavos_entrada_6" value="7" name="gas_octavos_entrada"> 7/8</label></li>
                <li><label for="id_gas_octavos_entrada_7"><input type="radio" id="id_gas_octavos_entrada_7" value="8" name="gas_octavos_entrada"> 8/8</label></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="input-prepend">
            {{ form.danios.errors|safe }}
            <label for="id_danios">Cobro por Daños:</label>
            <span class="add-on">$</span>
            {{ form.danios }}
        </div>
        <div class="input-prepend">
            <span>Adelanto: </span>
            <span class="add-on">$</span> {{ form.instance.adelanto }}
        </div>
        <div class="">
            {{ form.km_entrada.errors|safe }}
            <label for="id_km_entrada">Kilometraje:</label>
            {{ form.km_entrada }}
        </div>
        <div class="">
            {{ form.comentarios.errors|safe }}
            <label for="id_comentarios">Comentarios:</label>
            {{ form.comentarios }}
        </div>
		<input type="submit" class="btn btn-success" value="Guardar" />
	</form>
{% endblock content %}
