{% extends 'default.html' %}

{% block content %}

    {% if perms.ventas.add_ventas %}
        <span><a class="btn btn-primary" href="{% url apps.ventas.views.add_ventas %}"><i class="icon-plus icon-white"></i> Agregar</a></span>
    {% endif %}
        <div>
            <h2>Contratos Activos</h2>
        </div>
        <div class="table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                    <th>Contrato</th>
                    <th>Auto</th>
                    <th>Placas</th>
                    <th>Cliente</th>
                    <th>Fecha Salida</th>
                    <th>Fecha Entrada</th>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr><h5>Fiscales</h5></tr>
                {% for venta in ventas %}
                    {% if venta.serie == "C" %}
                        <tr>
                            <td>{{ venta.num_contrato }}</td>
                            <td>{{ venta.auto.codigo }}</td>
                            <td>{{ venta.auto.placas }}</td>
                            <td>{{ venta.cliente.nombre }} {{ venta.cliente.apellidos }}</td>
                            <td>{{ venta.fecha_salida }}</td>
                            <td>{{ venta.fecha_entrada }}</td>
                            <td>{{ venta.total }}</td>
                            <td><a class="btn btn-info" href="{% url apps.ventas.views.detail_ventas venta.id %}"><i class="icon-zoom-in icon-white"></i> Ver</a></td>
                            <td><a class="btn btn-info" href="{% url apps.ventas.views.entregar venta.id %}"> <i class="icon-share-alt icon-white"></i> Entregar</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                        <tr>
                            <td><h5>No Fiscales</h5></td>
                        </tr>
                {% for venta in ventas %}
                    {% if venta.serie == "D" %}
                        <tr>
                            <td>{{ venta.num_contrato }}</td>
                            <td>{{ venta.auto.codigo }}</td>
                            <td>{{ venta.auto.placas }}</td>
                            <td>{{ venta.cliente.nombre }} {{ venta.cliente.apellidos }}</td>
                            <td>{{ venta.fecha_salida }}</td>
                            <td>{{ venta.fecha_entrada }}</td>
                            <td>{{ venta.total }}</td>
                            <td><a class="btn btn-info" href="{% url apps.ventas.views.detail_ventas venta.id %}"><i class="icon-zoom-in icon-white"></i> Ver</a></td>
                            <td><a class="btn btn-info" href="{% url apps.ventas.views.entregar venta.id %}"> <i class="icon-share-alt icon-white"></i> Entregar</a></td>
                    
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
{% endblock %}
