{% extends 'default.html' %}

{% block content %}

    {% if perms.ventas.add_ventas %}
        <span><a class="btn btn-primary" href="{% url apps.ventas.views.add_ventas %}"><i class="icon-plus icon-white"></i> Agregar</a></span>
    {% endif %}
        <div>
            <h2>Ventas Pendientes</h2>
        </div>
        <div class="row-fluid span10">
            <ul class="pager">
                {% if ventas.has_previous %}
                    <li class="previous">
                        <a href="?page={{ ventas.previous_page_number }}">&larr; Mas Nuevos</a>
                    </li>
                {% endif %}

                <span class="label label-info">
                    Pagina {{ ventas.number }} de {{ ventas.paginator.num_pages }}.
                </span>

                {% if ventas.has_next %}
                    <li class="next">
                        <a href="?page={{ ventas.next_page_number }}">Mas Antiguos &rarr;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="table table-striped  table-condensed table-bordered">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <thead>
               <tr>
                    <th>Contrato</th>
                    <th>Auto</th>
                    <th>Placas</th>
                    <th>Cliente</th>
                    <th>Fecha Salida</th>
                    <th>Fecha Entrada</th>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tr><td><h5>Fiscales</h5></td></tr>
                {% for venta in ventas %}
                    {% if venta.serie == "C" %}
                        <tr>
                            <td>{{ venta.num_contrato }}</td>
                            <td>{{ venta.auto.codigo }}</td>
                            <td>{{ venta.auto.placas }}</td>
                            <td>{{ venta.cliente.nombre }} {{ venta.cliente.apellidos }}</td>
                            <td>{{ venta.fecha_salida }}</td>
                            <td>{{ venta.fecha_entrada }}</td>
                            <td>{{ venta.total }}</td>
                            <td><a class="btn btn-info" href="{% url apps.ventas.views.detail_ventas venta.id %}"><i class="icon-zoom-in icon-white"></i> Ver</a></td>
                            {% if perms.ventas.change_ventas %}
                                <td><a class="btn btn-info" href="{% url apps.ventas.views.edit_ventas venta.id %}"><i class="icon-pencil icon-white"></i> Editar</a></td>
                            {% endif %}
                            {% if perms.ventas.delete_ventas %}
                                <td><a class="btn btn-danger" href="{% url apps.ventas.views.del_ventas venta.id %}"> <i class="icon-remove icon-white"></i> Eliminar</a</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                        <tr>
                            <td><h5>No Fiscales</h5></td>
                        </tr>
                {% for venta in ventas %}
                    {% if venta.serie == "D" %}
                        <tr>
                            <td>{{ venta.num_contrato }}</td>
                            <td>{{ venta.auto.codigo }}</td>
                            <td>{{ venta.auto.placas }}</td>
                            <td>{{ venta.cliente.nombre }} {{ venta.cliente.apellidos }}</td>
                            <td>{{ venta.fecha_salida }}</td>
                            <td>{{ venta.fecha_entrada }}</td>
                            <td>{{ venta.total }}</td>
                            <td><a class="btn btn-info" href="{% url apps.ventas.views.detail_ventas venta.id %}"><i class="icon-zoom-in icon-white"></i> Ver</a></td>
                            {% if perms.ventas.change_ventas %}
                                <td><a class="btn btn-info" href="{% url apps.ventas.views.edit_ventas venta.id %}"><i class="icon-pencil icon-white"></i> Editar</a></td>
                            {% endif %}
                            {% if perms.ventas.delete_ventas %}
                                <td><a class="btn btn-danger" href="{% url apps.ventas.views.del_ventas venta.id %}"> <i class="icon-remove icon-white"></i> Eliminar</a</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
{% endblock %}
