{% extends 'default.html' %}

{%  block content%}
<h3>Reportes</h3>
	
	<form action="." class="well form-horizontal" method="POST"> {% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-success" value="Ver" />
	</form>

<div class="table table-striped  table-condensed table-bordered">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                    <th>Contrato</th>
                    <th>Auto</th>
                    <th>Placas</th>
                    <th>Cliente</th>
                    <th>Fecha Salida</th>
                    <th>Fecha Entrada</th>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr><h5>Fiscales</h5></tr>
                {% for venta in ventas %}
                
                    {% if venta.serie == "C" %}
                        <tr>
                            <td>{{ venta.num_contrato }}</td>
                            <td>{{ venta.auto.codigo }}</td>
                            <td>{{ venta.auto.placas }}</td>
                            <td>{{ venta.cliente.nombre }} {{ venta.cliente.apellidos }}</td>
                            <td>{{ venta.fecha_salida }}</td>
                            <td>{{ venta.fecha_entrada }}</td>
                            <td>{{ venta.total }}</td>
                            <td><a class="btn btn-info" href="{% url apps.ventas.views.detail_ventas venta.id %}"><i class="icon-zoom-in icon-white"></i> Ver</a></td>
                            {% if perms.ventas.change_ventas %}
                                <td><a class="btn btn-info" href="{% url apps.ventas.views.edit_ventas venta.id %}"><i class="icon-pencil icon-white"></i> Editar</a></td>
                            {% endif %}
                            {% if perms.ventas.delete_ventas %}
                                <td><a class="btn btn-danger" href="{% url apps.ventas.views.del_ventas venta.id %}"> <i class="icon-remove icon-white"></i> Eliminar</a</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                        <tr>
                            <td>Total Fiscal</td>
                            <td>{{ total_fiscal.total__sum }}</td>
                        </tr>
                        <tr>
                            <td><h5>No Fiscales</h5></td>
                        </tr>
                {% for venta in ventas %}
                    {% if venta.serie == "D" %}
                        <tr>
                            <td> {{ venta.num_contrato }}</td>
                            <td>{{ venta.auto.codigo }}</td>
                            <td>{{ venta.auto.placas }}</td>
                            <td>{{ venta.cliente.nombre }} {{ venta.cliente.apellidos }}</td>
                            <td>{{ venta.fecha_salida }}</td>
                            <td>{{ venta.fecha_entrada }}</td>
                            <td>{{ venta.total }}</td>
                            <td><a class="btn btn-info" href="{% url apps.ventas.views.detail_ventas venta.id %}"><i class="icon-zoom-in icon-white"></i> Ver</a></td>
                            {% if perms.ventas.change_ventas %}
                                <td><a class="btn btn-info" href="{% url apps.ventas.views.edit_ventas venta.id %}"><i class="icon-pencil icon-white"></i> Editar</a></td>
                            {% endif %}
                            {% if perms.ventas.delete_ventas %}
                                <td><a class="btn btn-danger" href="{% url apps.ventas.views.del_ventas venta.id %}"> <i class="icon-remove icon-white"></i> Eliminar</a</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>Total No Fiscal</td>
                    <td>{{ total_no_fiscal.total__sum }}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{ total.total__sum }}</td>
                </tr>
            </table>
{% endblock content %}
