{% extends 'default.html' %}

{% block content %}
    {% if perms.ventas.add_reservaciones %}
        <span><a class="btn btn-primary" href="{% url apps.ventas.views.add_reservaciones %}"><i class="icon-plus icon-white"></i> Agregar</a></span>
    {% endif %}
    <div class="box">
        <div>
            <h2>Reservaciones</h2>
        </div>
        <div class="row-fluid span10">
            <hr />
            <ul class="pager">
                {% if reservaciones.has_previous %}
                    <li class="previous">
                        <a href="?page={{ reservaciones.previous_page_number }}">&larr; Mas Nuevos</a>
                    </li>
                {% endif %}

                <span class="label label-info">
                    Pagina {{ reservaciones.number }} de {{ reservaciones.paginator.num_pages }}.
                </span>

                {% if reservaciones.has_next %}
                    <li class="next">
                        <a href="?page={{ reservaciones.next_page_number }}">Mas Antiguos &rarr;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="table table-striped  table-condensed table-bordered">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th>Id</th>
                    <th>Auto</th>
                    <th>Placas</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Anticipo</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for reservacion in reservaciones.object_list %}
                    <tr>
                        <td>{{ reservacion.id }}</td>
                        <td>{{ reservacion.auto.codigo }}</td>
                        <td>{{ reservacion.auto.placas }}</td>
                        <td>{{ reservacion.cliente }} </td>
                        <td>{{ reservacion.fecha }}</td>
                        <td>{{ reservacion.anticipo }}</td>
                        <td><a href="#" class="btn btn-info hotel btn-mini" data-content="Hotel: {{ reservacion.hotel }} <br /> Cuarto: {{ reservacion.num_cuarto }} <br /> Comentarios: {{ reservacion.comentarios }}" data-original-title="Hotel Info."><i class="icon-home icon-white"></i> Hotel</a></td>

                        {% if perms.ventas.change_reservaciones %}
                            <td><a class="btn btn-info btn-mini" href="{% url apps.ventas.views.edit_reservaciones reservacion.id %}"><i class="icon-pencil icon-white"></i> Editar</a></td>
                        {% endif %}
                        {% if perms.ventas.delete_reservaciones %}
                            <td><a class="btn btn-danger btn-mini" href="{% url apps.ventas.views.del_reservaciones reservacion.id %}"><i class="icon-trash icon-white"></i> Eliminar</a</td>
                        {% endif %}
                        <td><a class="btn btn-inverse btn-mini" href="{% url print-reserva reservacion.id %}"><i class="icon-print icon-white"></i> Imprimir</a</td>
                        {% if perms.ventas.add_ventas %}
                            <td><a class="btn btn-success btn-mini" href="{% url apps.ventas.views.vender_reservaciones reservacion.id %}"><i class="icon-share-alt icon-white"></i> Vender</a</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
