{% extends 'default.html' %}

{%  block content %}

		<div class="box-head">
			<h2>Configuración</h2>
		</div>

	        <form action="." method="POST"> {% csrf_token %}
		        <div class="form">
		            <form action="/contact/" method="post">
                        {{ form.non_field_errors|safe }}
                        <div class="input-prepend">
                            {{ form.hora_extra.errors|safe }}
                            <label for="id_hora_extra">Hora Extra:</label>
                            <span class="add-on">$</span>
                            {{ form.hora_extra }}
                        </div>
                         <div class="input-prepend">
                            {{ form.seguro_accidentes.errors|safe }}
                            <label for="id_seguro_accidentes">Seguro Accidentes:</label>
                            <span class="add-on">$</span>
                            {{ form.seguro_accidentes }}
                        </div>
                         <div class="input-prepend">
                            {{ form.seguro_colision.errors|safe }}
                            <label for="id_seguro_colision">Seguro Colision:</label>
                            <span class="add-on">$</span>
                            {{ form.seguro_colision }}
                        </div>
                         <div class="input-prepend">
                            {{ form.octavo_gas.errors|safe }}
                            <label for="id_octavo_gas">Octavo Gas:</label>
                            <span class="add-on">$</span>
                            {{ form.octavo_gas }}
                        </div>
                        <div class="input-prepend">
                            {{ form.conductor.errors|safe }}
                            <label for="id_conductor">Conductor:</label>
                            <span class="add-on">$</span>
                            {{ form.conductor }}
                        </div>
                </div>
                <div class="buttons">
		            <input type="submit" class="btn btn-success" value="Guardar" />
		        </div>
	        </form>
{% endblock %}
