{% load messagestag %}
    
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Pericos - Panel de administración</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="author" href="/humans.txt">
        <link rel="shortcut icon" href="/static/assets/images/favicon.png" type="image/png">
        <link rel="apple-touch-icon" href="/static/assets/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/images/apple-touch-icon-114x114.png">
        <link media="all" rel="stylesheet" href="/static/assets/css/bootstrap.min.css" type="text/css">
        <link media="all" rel="stylesheet" href="/static/assets/css/bootstrap.responsive.min.css" type="text/css">
        <link media="all" rel="stylesheet" href="/static/assets/css/admin.css" type="text/css">
        <link rel="stylesheet" href="/static/assets/css/cupertino/jquery-ui-1.8.20.pycar.css" type="text/css" media="screen" charset="utf-8" />
        <!--Change this for a more properly theme -->
        <script src="/static/assets/js/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/assets/js/sammy.min.js" type="text/javascript"></script>
        <script src="/static/assets/js/admin.js" type="text/javascript"></script>
        <script src="/static/assets/js/sliderAccess.js" type="text/javascript"></script>
        <script src="/static/assets/js/jquery-ui-1.8.16.min.js"></script>
        <script src="/static/assets/js/jquery-ui-timepicker-addon.js"></script>
        <script src="/static/assets/js/jquery.select-to-autocomplete.js"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block head %}

        {% endblock %}
    </head>
    <body>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="i-bar"></span>
                        <span class="i-bar"></span>
                        <span class="i-bar"></span>
                    </a>
                    <a class="brand" href="/">Pericos</a>
                    <div class="nav-collapse">
                        <ul class="nav pull-left">
                            <li class="active"><a href="#">Dashboard</a></li>
                            <li><a href="#!/apps/list">Aplicaciones</a></li>
                            {% if user.is_staff %}
                                <li><a href="{% url apps.admin.views.config %}">Configuración</a></li>
                            {% endif %}
                            <ul class="nav pull-right">
                            {% if user.is_authenticated %}
                                <li><a href="#"><i class="icon-user icon-white"></i> {{ user.username }}</a></li>
                                <li class="divider-vertical"></li>
                                <li> <a href="{% url django.contrib.auth.views.logout_then_login %}"><i class="icon-exclamation-sign icon-white"></i> Salir</a></li>
                            {% else %}
                                <li><a href="{% url django.contrib.auth.views.login %}">Entrar</a></li>
                            {% endif %}
                            </ul>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="messages">
                        {% render_messages messages %}
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                  <div class="well" style="padding: 8px 0;">
                    <ul class="nav nav-list">
                      <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
                      {% if perms.autos.add_autos %}
                      <li class="nav-header"><a href="{% url apps.autos.views.autos %}"><i class="icon-road"></i> Autos</a></li>
                      <ul class="nav nav-list">
                          <li><a href="{% url apps.autos.views.add_autos %}"><i class="icon-plus"></i> Agregar</a></li>
                      </ul>
                      {% endif %}
                      {% if perms.clientes.add_clientes %}
                      <li class="nav-header"><a href="{% url apps.clientes.views.clientes %}"><i class="icon-user"></i> Clientes</a></li>
                      <ul class="nav nav-list">
                          <li><a href="{% url apps.clientes.views.add_clientes %}"><i class="icon-plus"></i> Agregar</a></li>
                          <li></li>
                      </ul>
                      {% endif %}
                      
                      {% if perms.ventas.add_ventas %}
                      <li class="nav-header"><a href="{% url apps.ventas.views.ventas %}"><i class="icon-book"></i> Ventas</a></li>
                      <ul class="nav nav-list">
                          <li><a href="{% url apps.ventas.views.add_ventas %}"><i class="icon-plus"></i> Agregar</a></li>
                          <li><a href="{% url apps.ventas.views.lista_entregas %}"><i class="icon-share"></i> Activos</a></li>
                          <li><a href="{% url apps.ventas.views.terminadas %}"><i class="icon-check"></i> Cerradas</a></li>
                          <li><a href="{% url apps.ventas.views.pendientes %}"><i class="icon-briefcase"></i> Credito</a></li>
                          <li><a href="{% url apps.ventas.views.reportes %}"><i class="icon-list-alt"></i> Reportes</a></li>
                      </ul>
                      {% endif %}
                      {% if perms.ventas.add_reservaciones %}
                      <li class="nav-header"><a href="{% url apps.ventas.views.reservaciones %}"><i class="icon-calendar"></i> Reservas</a></li>
                      <ul class="nav nav-list">
                          <li><a href="{% url apps.ventas.views.add_reservaciones %}"><i class="icon-plus"></i> Agregar</a></li>
                      </ul>
                      {% endif %}
                      {% if perms.autos.add_reparaciones %}
                        <li class="nav-header"><a href="{% url apps.autos.views.lista_autos %}"><i class="icon-wrench"></i> Reparaciones</a></li>
                      {% endif %}
                    </ul>
                  </div> <!-- /well -->
                </div>
                <div class="span10">
                    {% block content %}

                    {% endblock %}
                    <div class="span10">
                        <a class="btn btn-mini btn-primary" href="javascript:history.back()"> <i class="icon-white icon-arrow-left"></i> Regresar</a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <hr>
                <div class="span12">
                    <footer>
                    <p>&copy; <a href="http://eonlabs.net" target="_blank">EonLabs</a> 2012</p>
                    </footer>
                </div>
            </div>
        </div> <!-- /container -->

    </body>
</html>
