{% extends 'default.html' %}

{% block content %}

    <div class="row-fluid">
        <div class="span12">
            <img src="/static/assets/img/header.jpg" alt="Pericos logo" title="Rent a Car" width="" height="" />
        </div>
    </div>
    
{% endblock %}
