{% extends 'default.html' %}

{% block content %}

    {% if perms.autos.add_autos %}
        <span><a class="btn btn-primary" href="{% url apps.autos.views.add_autos %}"><i class="icon-plus icon-white"></i> Agregar</a></span>
    {% endif %}
    <div class="box">
        <div>
            <h2>Autos</h2>
        </div>
        <div class="row-fluid span10">
            <hr />
            <ul class="pager">
                {% if autos.has_previous %}
                    <li class="previous">
                        <a href="?page={{ autos.previous_page_number }}">&larr; Mas Nuevos</a>
                    </li>
                {% endif %}

                <span class="label label-info">
                    Pagina {{ autos.number }} de {{ autos.paginator.num_pages }}.
                </span>

                {% if autos.has_next %}
                    <li class="next">
                        <a href="?page={{ autos.next_page_number }}">Mas Antiguos &rarr;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="table table-striped  table-condensed table-bordered">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th>Codigo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Placas</th>
                    <th>Precio</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for auto in autos.object_list %}
                    <tr>
                        <td>{{ auto.codigo }}</td>
                        <td>{{ auto.marca }}</td>
                        <td>{{ auto.modelo }}</td>
                        <td>{{ auto.anio }}</td>
                        <td>{{ auto.placas }}</td>
                        <td>{{ auto.precio }}</td>
                        
                        {% if perms.autos.change_autos %}
                            <td><a class="btn btn-info" href="{% url apps.autos.views.edit_autos auto.id %}"><i class="icon-pencil icon-white"></i> Editar</a></td>
                        {% endif %}
                        {% if perms.autos.delete_autos %}
                            <td><a class="btn btn-danger" href="{% url apps.autos.views.del_autos auto.id %}"><i class="icon-tash icon-white"></i> Eliminar</a</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
