{% extends 'default.html' %}

{% block content %}

    <div class="box">
        <div>
            <h2>Autos</h2>
        </div>
        <div class="table table-striped  table-condensed table-bordered">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th>Codigo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Placas</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for auto in object_list %}
                    <tr>
                        <td>{{ auto.codigo }}</td>
                        <td>{{ auto.marca }}</td>
                        <td>{{ auto.modelo }}</td>
                        <td>{{ auto.anio }}</td>
                        <td>{{ auto.placas }}</td>
                        {% if perms.autos.add_reparaciones %}
                            <td><a class="btn btn-primary btn-mini" href="{% url apps.autos.views.add_reparacion auto.id %}"><i class="icon-plus icon-white"></i> Agregar</a></td>
                        {% endif %}
                        {% if perms.autos.add_reparaciones %}
                            <td><a class="btn btn-info btn-mini" href="{% url apps.autos.views.detalle_reparacion auto.id %}"><i class="icon-zoom-in icon-white"></i> Ver</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
