{% extends 'default.html' %}

{% block content %}

    <div class="box">
        <div>
            <h2>Auto: {{ auto.codigo }}</h2>
        </div>
        {% if perms.autos.add_reparaciones %}
            <span><a class="btn btn-primary btn-mini" href="{% url apps.autos.views.add_reparacion auto.id %}"><i class="icon-plus icon-white"></i> Agregar</a></span>
        {% endif %}
        <div class="table table-striped  table-condensed table-bordered">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th>Descripcion</th>
                    <th>Monto</th>
                    <th>Proveedor</th>
                    <th>Kilometraje</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
                {% for reparacion in reparaciones %}
                    <tr>
                        <td>{{ reparacion.descripcion }}</td>
                        <td>{{ reparacion.monto }}</td>
                        <td> {{ reparacion.proveedor }}</td>
                        <td>{{ reparacion.kilometraje }}</td>
                        <td>{{ reparacion.fecha }}</td>
                        {% if perms.autos.delete_reparaciones %}
                            <td><a class="btn btn-danger btn-mini" href="{% url apps.autos.views.del_reparacion reparacion.id %}"><i class="icon-trash icon-white"></i> Eliminar</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{ total.monto__sum }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
