{% extends 'default.html' %}

{%  block content%}
<h3>Agregar Cliente</h3>

    <form action="." class="well" method="POST"> {% csrf_token %}
        {{ form.non_field_errors }}
         <div class="">
            {{ form.nombre.errors|safe }}
            <label for="id_nombre">Nombre:</label>
            {{ form.nombre }}
        </div>
        <div class="">
            {{ form.apellidos.errors|safe }}
            <label for="id_apellidos">Apellidos:</label>
            {{ form.apellidos }}
        </div>
        <div class="">
            {{ form.edad.errors|safe }}
            <label for="id_edad">Edad:</label>
            {{ form.edad }}
        </div>
        <div class="">
            {{ form.domicilio.errors|safe }}
            <label for="id_domicilio">Domicilio:</label>
            {{ form.domicilio }}
        </div>
        <div class="">
            {{ form.telefono.errors|safe }}
            <label for="id_telefono">Telefono:</label>
            {{ form.telefono }}
        </div>
        <div class="">
            {{ form.email.errors|safe }}
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>
        <div class="">
            {{ form.licencia.errors|safe }}
            <label for="id_licencia">Numero de Licencia:</label>
            {{ form.licencia }}
        </div>
        <div class="">
            {{ form.lic_expedicion.errors|safe }}
            <label for="id_lic_expedicion">Fecha Expedicion Licencia:</label>
            {{ form.lic_expedicion }}
        </div>
        <div class="">
            {{ form.lic_vencimiento.errors|safe }}
            <label for="id_lic_vencimiento">Fecha Vencimiento Licencia:</label>
            {{ form.lic_vencimiento }}
        </div>
        
        <div class="">
            {{ form.tieneFiscal.errors|safe }}
            <label for="id_tieneFiscal">Requiere Factura?:</label>
            {{ form.tieneFiscal }}
        </div>
        
        <div id="factura">
            <div class="">
                {{ form.fis_nombre.errors|safe }}
                <label for="id_fis_nombre">Nombre Fiscal:</label>
                {{ form.fis_nombre }}
            </div>
            <div class="">
                {{ form.fis_domicilio.errors|safe }}
                <label for="id_fis_domicilio">Domicilio:</label>
                {{ form.fis_domicilio }}
            </div>
            <div class="">
            {{ form.fis_rfc.errors|safe }}
            <label for="id_fis_rfc">RFC:</label>
            {{ form.fis_rfc }}
        </div>
        <div class="">
            {{ form.fis_telefono.errors|safe }}
            <label for="id_fis_telefono">Telefono:</label>
            {{ form.fis_telefono }}
        </div>
        </div>
        
        <input type="submit" class="btn btn-success" value="Guardar" />
    </form>
{% endblock content %}
