{% extends 'default.html' %}

{% block content %}
    {% if perms.clientes.add_clientes %}
        <span><a class="btn btn-primary" href="{% url apps.clientes.views.add_clientes %}"><i class="icon-plus icon-white"></i> Agregar</a></span>
    {% endif %}
        <div>
            <h2>Clientes</h2>
            <form class="well form-search" method="POST" action="."> {% csrf_token %}
              <input type="text" name="q" class="input-medium search-query">
              <button type="submit" class="btn">Buscar</button>
            </form>
        </div>
        <div class="row-fluid span10">
            <hr />
            <ul class="pager">
                {% if clientes.has_previous %}
                    <li class="previous">
                        <a href="?page={{ clientes.previous_page_number }}">&larr; Mas Nuevos</a>
                    </li>
                {% endif %}

                <span class="label label-info">
                    Pagina {{ clientes.number }} de {{ clientes.paginator.num_pages }}.
                </span>

                {% if clientes.has_next %}
                    <li class="next">
                        <a href="?page={{ clientes.next_page_number }}">Mas Antiguos &rarr;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="table table-striped  table-condensed table-bordered">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Edad</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>#Licencia</th>
                    <th>Vencimiento</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for cliente in clientes.object_list %}
                    <tr>
                        
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellidos }}</td>
                        <td>{{ cliente.edad }}</td>
                        <td>{{ cliente.telefono }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.licencia }}</td>
                        <td>{{ cliente.lic_vencimiento }}</td>
                        <td><a class="btn btn-info" href="{% url apps.clientes.views.detail_clientes cliente.id %}"><i class="icon-zoom-in icon-white"></i> Detalle</a></td>
                        {% if perms.clientes.change_clientes %}
                            <td><a class="btn btn-info" href="{% url apps.clientes.views.edit_clientes cliente.id %}"><i class="icon-pencil icon-white"></i> Editar</a></td>
                        {% endif %}
                        {% if perms.clientes.delete_clientes %}
                            <td><a class="btn btn-danger" href="{% url apps.clientes.views.del_clientes cliente.id %}"><i class="icon-trash icon-white"></i> Eliminar</a</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}
