{% extends 'default.html' %}

{% block content %}

    {% if perms.clientes.add_clientes %}
        <span><a class="btn btn-primary" href="{% url apps.clientes.views.add_clientes %}"><i class="icon-plus icon-white"></i> Agregar</a></span>
    {% endif %}
    <div class="box">
        <div>
            <h2>Cliente: {{ cliente.id }}</h2>
        </div>
                <ul>
                    <li>Nombre: {{ cliente.nombre }}</li>
                    <li>Apellidos: {{ cliente.apellidos }}</li>
                    <li>Edad: {{ cliente.edad }}</li>
                    <li>Telefono: {{ cliente.telefono }}</li>
                    <li>Email: {{ cliente.email }}</li>
                    <li>Licencia: {{ cliente.licencia }}</li>
                    <li>Vencimiento: {{ cliente.lic_vencimiento }}</li>
                    <li>Expedicion: {{ cliente.lic_expedicion }}</li>
                    <li>Nombre Fiscal: {{ cliente.fis_nombre }} </li>
                    <li>Domicilio: {{ cliente.fis_domicilio }} </li>
                    <li>RFC: {{ cliente.fis_rfc }} </li>
                    <li>Telefono: {{ cliente.fis_telefono }} </li>
                </ul>
                
                {% if perms.clientes.change_clientes %}
                    <a class="btn btn-info" href="{% url apps.clientes.views.edit_clientes cliente.id %}"><i class="icon-pencil icon-white"></i> Editar</a>
                {% endif %}
                {% if perms.clientes.delete_clientes %}
                    <a class="btn btn-danger" href="{% url apps.clientes.views.del_clientes cliente.id %}"><i class="icon-trash icon-white"></i> Eliminar</a>
                {% endif %}
           
        </div>
    </div>
{% endblock %}
